video{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -500px;
    margin-left: -1000px;
    z-index: 1;
}
div{
    background-color: burlywood;
    width: 40%;
    text-align: center;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    margin-top: 350px;
    padding: 20px;
    border-radius: 15px;
}
a{
    display: inline-block;
    padding: 20px;
    border: 3px solid red;
    text-decoration: none;
    color: red;
}
h1{
    font-size: 50px;
}
p{
    font-size: 20px;
}