h1{
    color: blue;
}
i{
    font-size: 60px;
    color: magenta;
}
body{
    background: url("bg1.jpg");
}
div{
    width: 50%;
    padding: 25px;
    background-color: gray;
    margin: 350px auto;
    text-align: center;
    font-family: 'Inter', sans-serif;
    border-radius: 15px;
    opacity: 0.955;
}
button{
    background-color: lightseagreen;
    padding: 20px;
    font-size: 15px;
    border-radius: 15px;
}
p{
    font-size: 25px;
}